<div class="record-header">
  <div class="header-left">
    <div class="header-title">
      みんなの記録一覧
    </div>
  </div>
  <div class="right-header">
    <div class="record-create">
      <a href="#">新しい記録を作る</a>
    </div>
  </div>
</div>
<div class="records">

  <div class="record">
    <div class="record-top">
      <div class="record-title">
        タイトル
      </div>
      <div class="record-subject">
        教科
      </div>
      <div class="record-date">
        2022/4/30 12:30:30
      </div>
    </div>
    <div class="record-bottom">
      <div class="record-text">
        テキスト
      </div>
    </div>
  </div>

    <div class="record">
    <div class="record-top">
      <div class="record-title">
        タイトル
      </div>
      <div class="record-subject">
        教科
      </div>
      <div class="record-date">
        2022/4/30 12:30:30
      </div>
    </div>
    <div class="record-bottom">
      <div class="record-text">
        テキスト
      </div>
    </div>
  </div>

</div>
