<div class="side-lists">
  <div class="list">
    <div class="user-name">
      <%= current_user.nickname %>
    </div>
    <div class="sign-btn">
      <a href="#">ログアウト</a>
    </div>
  </div>
</div>
