<div class="side-lists">
  <div class="header-name">
    <a href="#">Mikoto</a>
  </div>
  <div class="sign-btn">
    <a href="#">ログアウト</a>
  </div>
  <div class="record-create">
    <a href="#">新規投稿</a>
  </div>
</div>
