.my-page {
  height: 100vh;
  width: 100vw;
  background-color: #fafafa;
  padding: 20px 70px 0;
  overflow: scroll;
}

.my-page-header {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.my-page-title {
  font-size: 38px;
}

.redirect-to-top-page a {
  display: block;
  font-size: 14px;
  color: #333;
  height: 42px;
  width: 190px;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  background-color: #99CEE2;
  margin-top: 15px;
}

.profile-group {
  display: flex;
  justify-content: space-between;
}

ul.profile-list {
  margin-top: 30px;
}

li.profile-nickname {
  font-size: 28px;
  margin-bottom: 5px;
}

li.list-group {
  padding: 0 0 5px 10px;
  font-size: 16px;
}

.profile-edit-btn a {
  display: block;
  font-size: 14px;
  color: #333;
  text-decoration: none;
  background-color: #99CEE2;
  height: 42px;
  width: 190px;
  text-align: center;
  padding: 12px;
  margin-top: 40px;
}

.my-page-records {
  margin-top: 40px;
}

.user-show-nickname {
  font-size: 28px;
  margin-bottom: 20px;
}
